/* START STYLING FOR ALL PAGES */
* {
    margin: 0;
    padding: 0;
}

body {
    /* Typography */
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5; 
    height: 100%;
    padding-bottom: 50px;
    left: 0;
    right: 0;
    min-height: 900px;
    background-color: rgb(26, 15, 51) !important;
    color: 
    rgb(216, 140, 123);
}

body::-webkit-scrollbar, .imgrev::before {
    background: rgb(26, 15, 51);
}

body::-webkit-scrollbar-thumb {
    background: rgb(231, 142, 107);
    height: 1px;
}

html {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 50px;
    left: 0;
    right: 0;
}

main {
    left: 0;
    right: 0;
    width: 100% !important;
    background-color: rgb(26, 15, 51);
}

.container {
    background-color: rgb(26, 15, 51);
    max-width: 100% !important;
    padding: 10px;
} 

.intro {
    background-color: rgb(26, 15, 51);
    padding-top: 70px;
}

.block {
    margin-right: 5px;
}

.block-projects {
    padding-top: 80px;
}

.row-contact {
    padding-top: 40px;
    padding-bottom: 20px;
}


section {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #0a2a43);
    z-index: 10000;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#main-name {
    position: relative;
    color: rgb(231, 142, 107);
    font-size: 6em;
    font-weight: 500;
    z-index: 1;
    margin-right: 2.6em;
    margin-top: 0px;
    margin-left: 40px;
}

#mountain1 {
    position: absolute;
    left: 30%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 2;
    fill-opacity: inherit;
}

#mountain2 {
    z-index: 3;
}


/* Styling for block headers */
.block-header {
    color: rgb(216, 140, 123);
    font-size: 40px;
    font-weight: 500;
    margin-left: 20px;
}

/* END STYLING FOR ALL PAGES */

/* START STYLING FOR PORTFOLIO PAGE */
.row {
    width: auto;
    margin: auto;
}

.card-port {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 140, 123);
}

.card-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(216, 140, 123);
}

.card-text {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(241, 209, 214);
}

.content {
    color: rgb(241, 209, 214);
}

.card-body {
    float: left;
    justify-content: space-between;
    
}

.card-link {
    color: rgb(216, 140, 123);
    position: bottom;
    text-align: center;
}

.img-fluid {
    align-items: center;
}

.btn-primary-port {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    background-color: rgb(216, 140, 123);
    border-color: rgb(216, 140, 123);
    color: #fff;
    margin-top: 10px;
}

/* END STYLING FOR PORTFOLIO PAGE */



/* START STYLING FOR CONTACT.HTML (CONTACT) */

.btn-primary {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(216, 140, 123);
    border-color: rgb(216, 140, 123);
    font-size: 14px;
}

.btn-primary:hover {
    background-color: rgb(241, 209, 214);
    border-color: rgb(241, 209, 214);
}

.btn-primary:active {
    background-color: rgb(35, 58, 158);
    border-color: rgb(35, 58, 158);
}

#resume-btn {
    background-color: rgb(26, 15, 51);
    border-color: rgb(26, 15, 51);
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    /* padding: 20px; */
    /* display: flex; */
}

.col-md-3 {
    height: 140px;
}

.col-md-8 {
    color: #fff;
}

.form-control {
    background-color: rgb(231, 142, 107);
    border: 0vh;
}

.form-contact {
    background: rgb(231, 142, 107);
    border-radius: 150px;
    height: 180px;
    width: 180px;
    text-align: center;
}


/* END STYLING FOR CONTACT.HTML (CONTACT) */


/* START STYLING FOR INDEX.HTML (ABOUT ME) */

.about-me {
    position: relative;
    float: left;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(219, 167, 155);
    margin-left: 40px;
}

#image {
    float: right;
    position: absolute;
    width: 180px;
    height: 180px;
    margin: 20px;
}

#access-btn {
    background-color: rgb(216, 140, 123);
    border-color: rgb(216, 140, 123);
    font-size: 14px;
    padding: 5px;
    margin: 10px;
}

.icon {
    color: #fff;
    align-self: center;
}
/* END STYLING FOR INDEX.HTML (ABOUT ME) */

/* STYLING FOR FOOTER */
.footer {
    height: 250px;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 16, 34);
    justify-content: center;
    margin: 0 auto 0 auto !important;
    padding: 20px;
}

.footer-header {
    color: #fff;
    padding: 15px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    width: 100%;
}

.footer-text {
    position: absolute;
    color: #fff;
    margin-top: 40px;
    bottom: 4;
    margin: 0 auto 0 auto !important;
}

