/* START STYLING FOR ALL PAGES */
body {
    /* Typography */
    font-family: 'Playfair Display', serif;
    line-height: 1.5;
}

html {
    /* Positioning */
    position: relative;
    max-width: 100%;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    width: 600px;
}

#logo {
    font-size: 24px;
    color: #fff;
}
#navbar-full.container {
    background-color: rgb(179, 106, 116);
    color: #fff;
    max-width: 100%;
    font-size: 18px;
    padding: 5px;
}

.color-white {
    color: #fff !important;
    font-size: 18px;
}

/* Styling for block headers */
.block-header {
    color: rgb(179, 106, 116);
    font-size: 28px;
    font-weight: 700;
}


/* END STYLING FOR ALL PAGES */

/* START STYLING FOR PORTFOLIO PAGE */
.row {
    width: auto;
    margin: auto;
}

.card-port {
    margin: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(179, 106, 116);
}

.card-title {
    font-size: 16px;
    font-weight: 800;
    color: rgb(179, 106, 116);
}

.card-text {
    font-size: 14px;
    font-family: 'Playfair Display', serif;
}

.card-body {
    float: left;
}

.card-link {
    color: rgb(179, 106, 116);
    position: bottom;
    text-align: center;
}

.img-fluid {
    align-items: center;
}

.btn-primary-port {
    font-size: 12px;
    background-color: rgb(179, 106, 116);
    border-color: rgb(179, 106, 116);
    color: #fff;
    margin-top: 10px;
}

/* END STYLING FOR PORTFOLIO PAGE */


/* START STYLING FOR CONTACT.HTML (CONTACT) */

.form-horizontal{
    border-right: 1px solid rgb(182, 182, 182);
    height: 500px;
}

.btn-primary {
    background-color: rgb(179, 106, 116);
    border-color: rgb(179, 106, 116);
    font-size: 14px;
    padding: 5px;
}

.btn-primary:hover {
    background-color: rgb(241, 209, 214);
    border-color: rgb(241, 209, 214);
}

.btn-primary:active {
    background-color: rgb(35, 58, 158);
    border-color: rgb(35, 58, 158);
}

.contact-panel {
    background-color: rgb(206, 142, 151);
}

.contact-text {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
    padding: 20px;
    line-break: auto;
}

/* END STYLING FOR CONTACT.HTML (CONTACT) */

/* START STYLING FOR INDEX.HTML (ABOUT ME) */
.col-md-4 {
    border-right: 1px solid rgb(182, 182, 182);
    height: 500px;
}
.form-row {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    color: rgb(39, 39, 39);
    position: relative;
    display: inline-block;
}

#image {
    float: left;
    width: 180px;
    height: 180px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
}

.card-img-top {
    width: 50%;
    height: 50%;
    padding: 5px;
    float: left;
}

.card-body {
    background-color: rgb(255, 255, 255);
    margin: 20px;
}
.about-me {
    font-size: 14px;
}
/* END STYLING FOR INDEX.HTML (ABOUT ME) */

/* STYLING FOR FOOTER */
.footer {
    clear: both;
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: rgb(160, 160, 160);
}

.text-muted {
    color: #fff;
    text-align: left;
    margin-left: 15px;
    bottom: 4;
}


  
