/* START STYLING FOR ALL PAGES */
body {
    /* Typography */
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    height: 100%;
    padding-bottom: 50px;
}

html {
    /* Positioning */
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 50px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    width: 600px;
}

#logo {
    font-size: 24px;
    color: #fff;
}
#navbar-full.container {
    background-color: rgb(158, 91, 108);
    color: #fff;
    max-width: 100%;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
}

.color-white {
    color: #fff !important;
    font-size: 18px;
}

/* Styling for block headers */
.block-header {
    color: rgb(158, 91, 108);
    font-size: 28px;
    font-weight: 500;
}

/* END STYLING FOR ALL PAGES */

/* START STYLING FOR PORTFOLIO PAGE */
.row {
    width: auto;
    margin: auto;
}

.card-port {
    margin: 20px;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(158, 91, 108);
}

.card-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bolder;
    color: rgb(158, 91, 108);
}

.card-text {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.card-body {
    float: left;
}

.card-link {
    color: rgb(158, 91, 108);
    position: bottom;
    text-align: center;
}

.img-fluid {
    align-items: center;
}

.btn-primary-port {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    background-color: rgb(158, 91, 108);
    border-color: rgb(158, 91, 108);
    color: #fff;
    margin-top: 10px;
    bottom: 2;
}

/* END STYLING FOR PORTFOLIO PAGE */



/* START STYLING FOR CONTACT.HTML (CONTACT) */

.form-horizontal{
    border-right: 1px solid rgb(182, 182, 182);
    height: 500px;
}

.btn-primary {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(158, 91, 108);
    border-color: rgb(158, 91, 108);
    font-size: 14px;
    padding: 5px;
}

.btn-primary:hover {
    background-color: rgb(241, 209, 214);
    border-color: rgb(241, 209, 214);
}

.btn-primary:active {
    background-color: rgb(35, 58, 158);
    border-color: rgb(35, 58, 158);
}

.contact-panel {
    background-color: rgb(158, 91, 108);
}

.contact-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    padding: 20px;
    line-break: auto;
}

.col-md-3 {
    height: 140px;
}

/* END STYLING FOR CONTACT.HTML (CONTACT) */

/* START STYLING FOR INDEX.HTML (ABOUT ME) */

.jumbotron {
    background-color: rgb(204, 204, 204);
    color: #fff;
  }

.col-md-4 {
    border-right: 1px solid rgb(182, 182, 182);
    height: 600px;
}

#image {
    float: left;
    width: 180px;
    height: 180px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
}

.form-contact {
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
    padding: 10px;
}

.about-me {
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

#access-btn {
    background-color: rgb(158, 91, 108);
    border-color: rgb(158, 91, 108);
    font-size: 14px;
    padding: 5px;
    margin: 10px;
}


/* END STYLING FOR INDEX.HTML (ABOUT ME) */

/* STYLING FOR FOOTER */
.footer {
    /* clear: both; */
    position: fixed;
    margin-top: 20px;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: rgb(160, 160, 160);
}

.text-muted {
    color: #fff;
    text-align: left;
    margin-left: 15px;
    bottom: 4;
}


  
