/* START STYLING FOR ALL PAGES */
body {
    /* Typography */
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
}

html {
    /* Positioning */
    position: relative;
    max-width: 100%;
}

main {
    margin: 0;
    padding: 15px;
}

#logo {
    font-size: 28px;
    color: #fff;
}
#navbar-full.container {
    background-color: rgb(102, 181, 201);
    max-width: 100%;
}

#navbarTogglerDemo01{
    color: #fff;
    font-size: 24px;
}

/* Styling for block headers */
.block-header {
    color: rgb(102, 181, 201);
    font-size: 28px;
    font-weight: 500;
}

/* END STYLING FOR ALL PAGES */

/* START STYLING FOR INDEX.HTML (ABOUT ME) */
.form-row {
    width: 100%;
    margin: 20px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #fff;
    color: rgb(39, 39, 39);
    position: relative;
    display: inline-block;
}

#image {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
/* END STYLING FOR INDEX.HTML (ABOUT ME) */

/* START STYLING FOR CONTACT.HTML (CONTACT) */
.btn-primary {
    background-color: rgb(102, 181, 201);
    border-color: rgb(102, 181, 201);
}
/* END STYLING FOR CONTACT.HTML (CONTACT) */

/* STYLING FOR FOOTER */
.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(104, 103, 103);
    color: #fff;
}