body {
    /* Typography */
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
}

html {
    /* Positioning */
    position: relative;
    max-width: 100%;
}

main {
    margin: 0;
}

#logo {
    font-size: 28px;
    color: #fff;
}
#navbar-full.container {
    background-color: rgb(102, 181, 201);
    max-width: 100%;
}

#navbarTogglerDemo01{
    color: #fff;
    font-size: 24px;
}

.form-row {
    width: 600px;
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    color: rgb(39, 39, 39);
    position: absolute;
    display: inline-block;
}

.btn-primary {
    background-color: rgb(102, 181, 201);
    border-color: rgb(102, 181, 201);
}

.footer {
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(104, 103, 103);
    color: #fff;
}