/* START STYLING FOR ALL PAGES */
body {
    /* Typography */
    font-family: 'EB Garamond', serif;
    line-height: 1.5;
}

html {
    /* Positioning */
    position: relative;
    max-width: 100%;
}

main {
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    width: 600px;
}

#logo {
    font-size: 28px;
    color: #fff;
}
#navbar-full.container {
    background-color: rgb(102, 181, 201);
    color: #fff;
    max-width: 100%;
}

.color-white {
    color: #fff !important;
    font-size: 24px;
}

/* Styling for block headers */
.block-header {
    color: rgb(102, 181, 201);
    font-size: 28px;
    font-weight: 500;
}

/* END STYLING FOR ALL PAGES */

/* START STYLING FOR PORTFOLIO PAGE */

.img-fluid {
    margin: 20px;
}

#image-1 {
    width: 400px;
    height: 200px;
}

/* END STYLING FOR PORTFOLIO PAGE */


/* START STYLING FOR CONTACT.HTML (CONTACT) */

.btn-primary {
    background-color: rgb(102, 181, 201);
    border-color: rgb(102, 181, 201);
}

.btn-primary:hover {
    background-color: rgb(241, 209, 214);
    border-color: rgb(241, 209, 214);
}

.btn-primary:active {
    background-color: rgb(35, 58, 158);
    border-color: rgb(35, 58, 158);
}

/* END STYLING FOR CONTACT.HTML (CONTACT) */

/* START STYLING FOR INDEX.HTML (ABOUT ME) */
.form-row {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    color: rgb(39, 39, 39);
    position: relative;
    display: inline-block;
}

#image {
    float: left;
    width: 220px;
    height: 220px;
    margin-left: 5px;
    margin-top: 40px;
    border-color: rgb(228, 221, 221);
    border-width: 4px;
    border-style: solid;
}
/* END STYLING FOR INDEX.HTML (ABOUT ME) */

/* STYLING FOR FOOTER */
.footer {
    clear: both;
    position: fixed;
    height: 40px;
    bottom: 0;
    width: 100%;
    background-color: rgb(160, 160, 160);
}

.text-muted-footer {
    color: #fff;
    text-align: left;
    margin-left: 15px;
    bottom: 4;
}
  
